/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   body{
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
    font-family: 'Lato', sans-serif;
    background-size: cover;
    background-image: url('../img/img-big.jpg');
    background-position: bottom center;
    /*animation: changebg 30s infinite;*/

   }

   /*@keyframes changebg{
     0%, 20%{
       background-image: url('../img/img-bg01.jpg');
       background-position: center;
     }
     20%, 40%{
       background-image: url('../img/img-bg02.jpg');
       background-position: center;
     }
     40%, 60%{
       background-image: url('../img/img-bg03.jpg');
       background-position: center;
     }
     60%, 80%{
       background-image: url('../img/img-bg04.jpg');
       background-position: center;
     }
     80%, 100%{
       background-image: url('../img/img-bg05.jpg');
       background-position: center;
     }
   }*/
   .wrapper{
     /*max-width: 1100px;*/
     width: 100%;
     margin: 0 auto;
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .main-content{
     display: flex;
     flex-flow: row wrap;
     flex: 4;
     box-sizing: border-box;
   }

   .link-content{
     margin: 20px 0 0 20px;
     box-sizing: border-box;
     /*flex: 1;*/
     display: flex;
     padding: 0;
   }

   .link-content .links-list{
     list-style-type: none;
     margin: 0;
     padding: 0 20px 20px;
     background-color: rgba(0,0,0,0.7);
   }

   .links-list .link-item{
     margin: 15px 0 0;
   }
   .links-list .link-item .link{
     color: #FFF;
     text-transform: uppercase;
     text-decoration: none;
     font-weight: 700;
       border-bottom: 1px dotted #444;
   }

   .links-list .link-item .link:hover{
   border-bottom: 1px dotted #FFF;
   }

   .main-content .panel{

     border-radius: 6px;
     box-sizing: border-box;
     min-height: 220px;
     justify-content:center;
     align-items: center;
     -moz-flex-flow: column wrap;
     -ms-flex-flow: column wrap;
     -o-flex-flow: column wrap;
     flex-flow: column wrap;
     color:#FFF;
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     display: flex;
     font-weight: 700;
     font-size: 28px;
     text-align: center;
     background-color: rgba(0,0,0,0.7);
   }

    .main-content .panel-link{
      flex: 1 0 29%;
      letter-spacing: 2px;
      text-decoration: none;
      margin: 2% 2%;
      justify-content: space-around;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-flow: column wrap;

    }

    .main-content .panel:hover{
      transition: .45s;
      transform: scale(1.1);
    }
   .facebook:hover{
     background-color: rgba(59, 89, 152, 0.8);
   }

   .gmail:hover, .youtube:hover{
     background-color: rgba(221, 75, 57, 0.8)
   }

   .librus:hover{
     background-color: rgba(196, 213, 142, 0.8);
   }

   .forum:hover{
     background-color: rgba(52,152,219, 0.8);
   }

   .empty:hover{
     background-color: rgba(128,128,128,0.8);
   }

   @media screen and (max-width: 960px){
     .main-content .panel{
       flex: 1 0 34%;
       margin: 2% 8%;
       min-height: 130px;
       font-size: 14px;
       letter-spacing: 0px;
     }

     .link-content{
       margin: 0;
       padding: 0;
     }

     .link-content .links-list{
       padding: 0;
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;
       -webkit-flex-flow: row wrap;
       -moz-flex-flow: row wrap;
       -ms-flex-flow: row wrap;
       -o-flex-flow: row wrap;
       flex-flow: row wrap;
     }

    .link-content .links-list .link-item{
      padding-left: 50px;
      flex: 1 0 42%;
    }

    .link-content .links-list .link-item:last-child{
      padding-bottom: 20px;
    }


     i[class*='icon']:before{
       font-size: 48px;
     }
   }

   @media screen and (max-width: 675px){
     .main-content{
       margin-bottom: 0%;
     }
     .wrapper .link-content{
       flex: 1 0 100%;
     }
   }














/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

*{
  transition:all 0.5s;
}
